@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@font-face {
    font-family: futur;
    src: url(/assets/fonts/FuturaPTMedium.otf);
    font-weight: bold;
}

@font-face {
font-family: futur;
src: url(/assets/fonts/FuturaPTLight.otf);
font-weight: light;
}

body {
margin: 0;
background-color: #050408;
overflow-x: hidden;
overflow-y: auto;
}

.site-wrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
  }

a {
color: #f2f2f2;
font-family: futur;
font-weight: light;
text-decoration: none;
font-size: 30px;
}

a:hover {
opacity: 0.7;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: left;
  font-size: 60px;
  background-clip: unset;
  background: -webkit-linear-gradient(-45deg, #0000ff, #ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


p {
  /* padding-left: 25%; */
  padding-right: 20px;
  font-family: "Helvetica Neue", sans-serif;
  color: #00cccc;
  text-align: left;
  font-size: 20px;
  line-height: 40px;
  /* mix-blend-mode: add; */
  background-color: #050408;
  margin-left: 30%;
  margin-right: 30%;
}

p a {
    color: #00cccc;
font-family: futur;
font-weight: bold;
text-decoration: underline;
font-size: 20px;
}

img {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

video {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.maincan {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

.canvas-div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* overflow-x: none;
    overflow-y: auto; */

}

.nav {
overflow: hidden;
width: 100vw;
height: 100px;
/* background-color: rgba(0,0,0,0.3); */
}

.nav-wrapper {
margin-top: 0;
z-index: 10;
}

.logo {
z-index: 10;
position: fixed;
padding: 25px;
margin-right: 10px;
right: 0;
width: 100px;
height: auto;
}
  
.nav-link {
padding-left: 20px;
z-index: 10;
font-family: futur;
font-weight: light;
position: fixed;
left: 0;
margin-top: 20px;
color: #f2f2f2;
text-align: center;
text-decoration: none;
font-size: 25px;
}

.nav-link a {
padding: 10px;
}

.nav-link .active {
font-weight: bold;
color: #f2f2f2;
font-size: 27px;
}

.active:hover {
opacity: 0.7;
}

.head {
    position: absolute;
    left:0;
    margin-top: -20px;
}


.links {
    margin-top: 30px;
    width: 140px;
    position: absolute;
    right: 80px;
    text-align: right;

}

.links a {
    color: #6650cd;
    font-family: futur;
    font-weight: light;
    text-decoration: underline;
    text-underline-offset: 5px;
    font-size: 40px;
}

.content{
    padding-top: 230px;
    padding-left: 80px;
    padding-right: 80px;
}

.content p {
    margin-left: 0%;
    margin-right: 0%;
}

.title {
    margin-left: 100px;
}

.subtitle {
    margin-top: -30px;
    margin-left: 105px;
    width: 650px;
    text-align: left;
    font-size: 24px;
}

.subtitle span {
    font-size: 18px;
}

.maincan {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

.canvas-div{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* overflow-x: none;
    overflow-y: auto; */
}

footer {
padding: 20px;
width: 100vw;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
}

footer p {
color: #f2f2f2;
margin-top: -10px;
font-family: futur;
font-weight: light;
}

@media only screen and (max-width: 768px) {

    body {
        font-size: 1.0em;
    }

    p {
        margin-left: 3%;
        margin-right: 3%;
        padding-left: 20px;
    }

    .head {
        margin: 0;
        position: relative;
        float: left;
    }

    .title {
        position: relative;
        margin: 0;
        padding-left: 30px;
        margin-left: 10px;
        text-align: left;
    }

    .subtitle {
        width: 300px;
        margin: 0;
        margin-top: 10px;
        margin-left: 25px;
        padding-left: 20px;
        /* text-align: center; */
    }


    .links {
        margin: 0;
        position: relative;
        float: left;
        text-align: left;
        margin-top: 10px;
        margin-left: 120px;
        padding-bottom: 20px;
    }

    .content {
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .img-gallery{
        row-gap: 5px;
        column-gap: 0;
    }

    .img-gallery img {
        width: 100%;
    }
    
    footer {
        position: relative;
    }
}

