@font-face {
  font-family: futur;
  src: url(/assets/font/FuturaPTMedium.otf);
  font-weight: bold;
}

@font-face {
  font-family: futur;
  src: url(/assets/font/FuturaPTLight.otf);
  font-weight: light;
}

svg {
    width: 50px;
}

h1 {
    font-size: 24px;
}

video {
    width: 800px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

img {
    width: 800px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

iframe {
    border: none;
    width: 800px;
    height: 460px;
    object-fit: cover;
    border-radius: 10px;
}

span {
    text-decoration: underline;
    text-decoration-color: #99ccff;
    transition: 0.3s;
}

a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: #99ccff;
}

body {
    font-family: futur;
    font-weight: bold;
    text-align: center;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 70px;
    height: 80px;
    justify-content: left;
}

.logo {
    filter: invert(100%);
    width: 70px;
    padding: 20px;
}

.logo-div {
    height: 60px;
}

.nav-socials {
    height: 70px;
}

.fa {
  padding: 5px;
  font-size: 10px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  transition: 0.3s;
}

.fa:hover {
    color: #99ccff;
}

.hero {
    margin: 40px 40vw 0 20vw;
    display: flex;
    justify-content: left;
    text-align: left;
}

.intro h1 {
    font-size: 32px;
    width: 40vw;
}

.intro h1:hover {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: #99ccff; 
}

.intro h2 {
    font-family: "Cascadia Code", sans-serif;
    font-size: 16px;
    font-style: italic;
    margin-top: -15px;
    width: 40vw;
}

.intro p {
    font-family: "Cascadia Code", sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.intro a:hover {
    background-color: #99ccff6a;
}

.mobilespan {
    text-decoration: none;
}

.cover {
    position: absolute;
    right: 15vw;
    bottom: 40px;
    padding: 8px 8px 4px;
    border-style: solid;
    border-radius: 10px;
    border-color: #99ccff;
}

.cover img {
    width: 640px;
    height: 360px;
    object-fit: cover;
    border-radius: 10px;
}

.work {
    margin: 20px 40vw 0 20vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 40px;
    border-top-style: solid;
    border-bottom-style: solid;
}

.work h1 {
    font-size: 21px;
    width: 40vw;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 12px;
    width: 40vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sel {
    color: black;
    background-color: #99ccff6a;
}

.filters button {
    font-family: futur;
    font-weight: bold;
    border: none;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.filters button:hover {
    padding: 8px 18px;
}

.project {
    margin-top: 20px;
    width: 20vw;
    padding-left: 20px;
    margin-left: -20px;
    transition: 0.3s;
}

.selected {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: #99ccff; 
}

.filtered {
    border-left-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: #99ccff;
    box-shadow: rgba(153, 204, 255, 0.45) -25px 17px 20px -20px;
}

.project:hover {
    padding-left: 40px;
    text-decoration: line-through;
    text-decoration-thickness: 4px;
    text-decoration-color: #99ccff;
}

.project h2 {
    font-family: "Cascadia Code", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.project p {
    font-family: "Cascadia Code", sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin-top: -10px;
}

.skills h1 {
    font-size: 24px;
    width: 60vw;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    margin: 8px 20vw 0 20vw;
    padding-top: 10px;
    align-items: left;
    justify-content: left;
    text-align: left;
    border-bottom-style: solid;
    padding-bottom: 60px;
}

.skillbox {
    text-align: center;
    border-radius: 10px;
    padding: 10px 16px 0;
    background-color: #f0f0f0;
    transition: 0.3s;
}

.skillbox:hover {
    background-color: #99ccff6a;
    padding: 10px 20px 0;
}

.skillbox p {
    margin-top: 0px;
}

.three {
    padding-left: 2px;
}

.framer {
    padding-top: 8px;
    width: 40px;
}

.godot {
    padding-top: 5px;
    width: 40px;
}

.go {
    padding-top: 5px;
}

.gemini {
    padding-top: 5px;
    width: 40px;
    filter: grayscale(100%) brightness(0) saturate(100%)
}

.mediapipe {
    padding-top: 5px;
    width: 35px;
}

.vita {
    margin: 10px 40vw 10vh 20vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    text-align: left;
}

.download {
    position: absolute;
    margin-top: 20px;
    right: 40vw;
    
}

.download button {
    font-family: futur;
    font-weight: bold;
    border: none;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.download button:hover {
    background-color: #99ccff6a;
    padding: 8px 18px;
}

.vita h1 {
    font-size: 24px;
    width: 40vw;
}

.vita h2 {
    font-family: "Cascadia Code", sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 40vw;
}

.vita p {
    margin: 0 0 20px 0;
    font-family: "Cascadia Code", sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.vita span {
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
}

.last {
    padding-bottom: 40px;
    border-bottom-style: solid;
}

/* pages */

.head {
    margin: 40px 40vw 0 20vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    text-align: left;
}

.back {
    margin-bottom: -10px;
    margin-left: -10px;
    font-family: futur;
    font-weight: bold;
    font-size: 16px;
    border: none;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.3s;
    background-color: white;
}

.back:hover {
    text-decoration: underline;
    text-decoration-color: #99ccff;
}

.info {
    width: 40vw;
}

.info h1 {
    font-size: 32px;
}

.info h2 {
    font-family: "Cascadia Code", sans-serif;
    font-size: 16px;
}

.info p {
    margin-top: -10px;
    font-family: "Cascadia Code", sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 40vw;
}

.tags div {
    font-family: futur;
    font-weight: bold;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 16px;
    background-color: #99ccff6a;
    margin: 10px 0 20px 0;
}

.links {
    font-family: "Cascadia Code", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.links div {
    padding-bottom: 10px;
}

.main_img {
    margin: 30px 0;
    border-top-style: solid;
    padding-top: 30px;
}

.msp {
    width: 600px;
    height: 400px;
}

.desc {
    margin: -30px 40vw 0 20vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    text-align: left;
}

.desc h2 {
    font-family: futur;
    font-weight: bold;
    font-size: 21px;
    width: 40vw;
}

.desc p {
    margin-top: -10px;
    font-family: "Cascadia Code", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.desc ul {
    margin-top: -10px;
    font-family: "Cascadia Code", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.gallery {
    margin: 20px 30vw 10vh 20vw;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
    text-align: left;
    border-bottom-style: solid;
}

.wbse img {
    width: 360px;
}

.gallery p {
    font-family: "Cascadia Code", sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 30px;
}


@media only screen and (min-width: 320px) and (max-width: 768px) { 
    
    img, video, iframe {
        width: 80vw;
    }
    
    .nav {
        right: 0;
        left: auto;
        justify-content: right;
    }

    .hero {
        margin: 40px;
    }

    .intro h1 {
        width: auto;
    }

    .mobilespan {
        display: none;
    }

    .cover {
        display: none;
    }

    .work {
        margin: 40px;
    }

    .work h1 {
        width: 60vw;
    }

    .filters {
        display: none;
    }

    .project {
        width: 40vw;
    }

    .skills {
        margin: 40px;
    }

    .vita {
        margin: 40px;
    }

    /* pages */

    .head {
        margin: 20px;
    }

    .info {
        width: 80vw;
    }

    .tags {
        display: none;
    }

    .main_img {
        width: 80vw;
    }

    .main_img img {
        width: 80vw;
        height: auto;
    }

    .desc {
        margin: -40px 20px 0 20px;
    }

    .desc h2 {
        width: 60vw;
        font-size: 21px;
    }

    .gallery {
        width: 80vw;
        margin: 0 20px 60px 20px;
    }

    .wbse img {
        width: 80vw;
    }
}