@font-face {
  font-family: futur;
  src: url(/assets/fonts/FuturaPTMedium.otf);
  font-weight: bold;
}

@font-face {
  font-family: futur;
  src: url(/assets/fonts/FuturaPTLight.otf);
  font-weight: light;
}

body {
  margin: 0;
  background-color: #333333;
  overflow-x: hidden;
  overflow-y: auto;
}

section {
  transform-style: preserve-3d;
}

h1 {
  font-family: futur;
  font-weight: bold;
  color: #f2f2f2;
  text-align: center;
  font-size: 30px;
}

a {
  color: #f2f2f2;
  text-decoration: none;
}

a:hover {
  color: #878787;
}

.nav {
  overflow: hidden;
  width: 100vw;
  height: 100px;
  /* background-color: rgba(0,0,0,0.3); */
}

.nav-wrapper {
  margin-top: 0;
  z-index: 10;
}

.fa {
  padding: 5px;
  font-size: 10px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: transparent;
  color: white;
}

.nav-socials {
  position: fixed;
  right: 0;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 80px;
  height: auto;
  margin-top: -15px;
}

.logo {
  z-index: 10;
  position: fixed;
  padding: 25px;
  margin-right: 10px;
  right: 0;
  width: 100px;
  height: auto;
}

.nav-link {
  padding-left: 20px;
  z-index: 10;
  font-family: futur;
  font-weight: light;
  position: fixed;
  left: 0;
  margin-top: 20px;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
}

.nav-link a {
  padding: 10px;
}

.nav-link .active {
  font-weight: bold;
  color: #f2f2f2;
  font-size: 33px;
}

.active:hover {
  color: #878787;
}

.gallery {
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 70vh;
  width: 100vl;
  height: 150vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #333333;
  /* overflow-y: auto; */
}

.gallery::-webkit-scrollbar { 
  display: none;
}

.square-large {
  /* border-radius: 20px; */
  /* background-color: #5d5d5d; */
  width: 50%;
  height: auto;
  display: block;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  background-size:cover;
  background-position:center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.square-large:hover {
  -webkit-filter: none;
  filter: none;
}

.one {
  background-image: url('../assets/img/one-cover.png');
}

.two {
  background-image: url('../assets/img/two-cover.png');
}

.three {
  background-image: url('../assets/img/three-cover.png');
}

.four {
  background-image: url('../assets/img/four-cover.png');
}

.five {
  background-image: url('../assets/img/five-cover.png');
}

.six {
  background-image: url('../assets/img/six-cover.png');
}

.caption {
  font-family: futur;
  font-weight: bold;
  margin-top: 20vh;
  color: #f2f2f2;
  text-align: center;
  font-size: 20px;
  opacity: 0;
  background-color: #000000;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.cap-content {
  margin-top: -20px;
  padding-top: 10px;
  font-family: futur;
  font-weight: light;
  padding-bottom: 10px;
  color: #f2f2f2;
  text-align: center;
  font-size: 15px;
  opacity: 0;
  background-color: #000000;
  margin-left: 25%;
  margin-right: 25%;
  padding-left: 10px;
  padding-right: 10px;
}

.square-large:hover .caption {
  opacity: 1;
}

.square-large:hover .cap-content {
  opacity: 1;
}

.last {
  margin-left: 35%;
}

footer {
  background-color: #333333;
  padding: 20px;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
}

footer p {
  padding-bottom: 10px;
  color: #f2f2f2;
  font-family: futur;
  font-weight: light;
}

.maincan {
  position: fixed;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: -2; */
  pointer-events: none;
  /* mix-blend-mode: hue; */
}

.mast-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  z-index: -9999;
}

.masthead {
  overflow: hidden;
  width: 100vw;
  height: 80vh;
}


.vid-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 2;
  background: rgba(54, 54, 54, 0.7);
}

.masthead video {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.masthead .mast {
  z-index: 3;
  position: relative;
  margin: 0;
  font-family: futur;
  font-weight: bold;
  color: #f2f2f2;
  padding-top: 30vh;
  text-align: center;
  font-size: 50px;
}

.about-content {
  margin: 0;
  font-family: futur;
  color: #f2f2f2;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
}

.about-img {
  margin: 0;
  font-family: futur;
  color: #f2f2f2;
  padding-top: 20px;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}

.about-head {
  padding-right: 50px;
  font-size: 40px;
}

.about-text {
  text-align: left;
  font-size: 20px;
  line-height: 40px;
}

.resume {
  display: flex;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

#role {
  color: #f2f2f2;
}



