@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

@font-face {
  font-family: futur;
  src: url(/assets/fonts/FuturaPTMedium.otf);
  font-weight: bold;
}

@font-face {
  font-family: futur;
  src: url(/assets/fonts/FuturaPTLight.otf);
  font-weight: light;
}

body {
  margin: 0;
  background-color: #222222;
  overflow-x: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.site-wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

section {
  transform-style: preserve-3d;
}

h1 {
  font-family: futur;
  font-weight: bold;
  color: #f2f2f2;
  text-align: center;
  font-size: 30px;
}

p {
  font-family: 'Nunito', sans-serif;
}

a {
  color: #f2f2f2;
  text-decoration: none;
}

a:hover {
  color: #878787;
}

.nav {
  overflow: hidden;
  width: 100vw;
  height: 100px;
  /* background-color: rgba(0,0,0,0.3); */
}

.nav-wrapper {
  margin-top: 0;
  z-index: 10;
}

.fa {
  padding: 5px;
  font-size: 10px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: transparent;
  color: white;
}

.nav-socials {
  position: fixed;
  right: 0;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 80px;
  height: auto;
  margin-top: -15px;
}

.logo {
  z-index: 10;
  position: fixed;
  padding: 25px;
  margin-right: 10px;
  right: 0;
  width: 100px;
  height: auto;
}

.nav-link {
  padding-left: 20px;
  z-index: 10;
  font-family: futur;
  font-weight: light;
  position: fixed;
  left: 0;
  margin-top: 20px;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
}

.nav-link a {
  padding: 10px;
}

.nav-link .active {
  font-weight: bold;
  color: #f2f2f2;
  font-size: 33px;
}

.active:hover {
  color: #878787;
}

.gallery {
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: -9vh;
  width: 100vl;
  height: 250vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #222222;
  /* gap: 40px; */
  /* overflow-y: auto; */
}

.gallery::-webkit-scrollbar { 
  display: none;
}

.square-large {
  /* border-radius: 20px; */
  /* background-color: #5d5d5d; */
  width: 50%;
  height: 20%;
  display: block;
  transition: 0.2s ease-in-out;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  background-size:cover;
  background-position:center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.square-large:hover {
  -webkit-filter: none;
  filter: none;
  /* transform: rotate(3deg) translate(0px, -30px); */
    
}

.one {
  background-image: url('../assets/img/one-cover.png');
}

.two {
  background-image: url('../assets/img/two-cover.png');
}

.three {
  background-image: url('../assets/img/three-cover.png');
}

.four {
  background-image: url('../assets/img/four-cover.png');
}

.five {
  background-image: url('../assets/img/five-cover.png');
}

.six {
  background-image: url('../assets/img/six-cover.png');
}

.seven {
  background-image: url('../assets/img/yume-cover.png');
}

.eight {
  background-image: url('../assets/img/smth-cover.jpg');
}

.nine {
  background-image: url('../assets/img/nolana-cover.png');
}

.ten {
  background-image: url('../assets/img/sap-cover.png');
}

.caption {
  font-family: futur;
  font-weight: bold;
  margin-top: 330px;
  color: #f2f2f2;
  text-align: left;
  font-size: 24px;
  opacity: 1;
  background-color: #111111;
  margin-right: 25%;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.cap-content {
  margin-top: -20px;
  padding-top: 10px;
  font-family: 'Nunito', sans-serif;
  font-weight: light;
  padding-bottom: 10px;
  color: #f2f2f2;
  text-align: left;
  font-size: 16px;
  opacity: 1;
  background-color: #111111;
  margin-right: 25%;
  padding-left: 10px;
  padding-right: 10px;
}

.square-large:hover .caption {
  /* opacity: 1; */
}

.square-large:hover .cap-content {
  /* opacity: 1; */
}

.last {
  margin-left: 35%;
}

footer {
  background-color: #222222;
  padding: 20px;
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  padding-bottom: 10px;
  color: #f2f2f2;
  font-family: futur;
  font-weight: light;
  font-size: 20px;
}

.maincan {
  position: fixed;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: -2; */
  pointer-events: none;
  /* mix-blend-mode: hue; */
}

.mast-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  z-index: -9999;
}

.masthead {
  overflow: hidden;
  width: 100vw;
  height: 80vh;
}


.vid-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 2;
  background: rgba(54, 54, 54, 0.8);
}

.masthead video {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.masthead .mast {
  z-index: 3;
  position: relative;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: #f2f2f2;
  padding-top: 30vh;
  text-align: center;
  font-size: 50px;
}

#role {
  font-style: italic;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.about-content {
  margin: 0;
  font-family: futur;
  color: #f2f2f2;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}

.about-img {
  margin: 0;
  font-family: futur;
  color: #f2f2f2;
  padding-top: 20px;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}

.about-head {
  /* padding-right: 50px; */
  font-size: 40px;
}

#face {
  width: 30%;
  height: auto;
  border-radius: 50%;
}

.about-text {
  text-align: left;
  font-size: 20px;
  padding-bottom: 5%;
  line-height: 40px;
}

.resume {
  display: flex;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.res-button {
  display: inline-block;
  left: 55%;
  position: absolute;
  border-radius: 5px;
  background-color: #03989e;
  border: none;
  color: #f2f2f2;
  text-align: center;
  font-family: futur;
  font-size: 20px;
  padding: 10px;
  width: 120px;
  transition: all 0.1s;
  cursor: pointer;
}

.res-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.res-button:hover {
  opacity: 0.7;
  background-color: #03777b;
}

@media only screen and (max-width: 768px) {

  body {
    font-size: 1.0em;
  }

  .warn{
    opacity: 1;
  }

  .masthead .mast{
    font-size: 3em;
    padding-left: 10%;
    padding-right: 10%;
  }

  .gallery {
    height: auto;
  }

  .caption {
    margin-top: 10vh;
  }

  .cap-content {
    margin-bottom: 10vh;
  }

  .square-large {
    width: 100%;
    /* height: 300px; */
  }

  .about-content {
    padding-left: 10%;
    padding-right: 10%;
  }

  .res-button {
    left: 65%;
    width: 80px;
    padding: 5px;
    font-size: 15px;
  }

  /* .about-head {
    opacity: 0;
  }

  .about-img {
    opacity: 0;
  } */

  footer {
    position: relative;
  }
}



